<!DOCTYPE html>
<html>

<head>
    <title>SeLab</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans&display=swap">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/research.css">
    <link rel="stylesheet" href="css/publication.css">
    <link rel="stylesheet" href="css/member.css">
    <link rel="stylesheet" href="css/notice_contact.css">
    <link rel="stylesheet" href="css/course.css">
    <link rel="stylesheet" href="css/backgroundTransition.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
    <script src="js/publication.js"></script>
    <script src="js/common.js"></script>
    <script src="js/backgroundTransition.js"></script>
    <script src="js/notice.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAolnOVNDT1Ibd1ImXPOYV2xQiThtQf5ok&sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.backgroundTransition').backgroundTransition({
                backgrounds: [{
                    src: 'img/1.png'
                }, {
                    src: 'img/2.png'
                }, {
                    src: 'img/3.png'
                }],
                transitionDelay: 3,
                animationSpeed: 800
            });
        });
    </script>
    <script>
        // Create a "close" button and append it to each list item
        var myNodelist = document.getElementsByTagName("LI");
        var i;
        for (i = 0; i < myNodelist.length; i++) {
            var span = document.createElement("SPAN");
            var txt = document.createTextNode("\u00D7");
            span.className = "close";
            span.appendChild(txt);
            myNodelist[i].appendChild(span);
        }

        // Click on a close button to hide the current list item
        var close = document.getElementsByClassName("close");
        var i;
        for (i = 0; i < close.length; i++) {
            close[i].onclick = function() {
                var div = this.parentElement;
                div.style.display = "none";
            }
        }

        // Add a "checked" symbol when clicking on a list item
        var list = document.querySelector('ul');
        list.addEventListener('click', function(ev) {
            if (ev.target.tagName === 'LI') {
                ev.target.classList.toggle('checked');
            }
        }, false);

        // Create a new list item when clicking on the "Add" button
        function newElement() {
            var li = document.createElement("li");
            var inputValue = document.getElementById("myInput").value;
            var t = document.createTextNode(inputValue);
            li.appendChild(t);
            if (inputValue === '') {
                alert("You must write something!");
            } else {
                document.getElementById("myUL").appendChild(li);
            }
            document.getElementById("myInput").value = "";

            var span = document.createElement("SPAN");
            var txt = document.createTextNode("\u00D7");
            span.className = "close";
            span.appendChild(txt);
            li.appendChild(span);

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function() {
                    var div = this.parentElement;
                    div.style.display = "none";
                }
            }
        }
    </script>
</head>

<body>
    <!-- To Do List -->
    <button id="modalBtn" onclick="document.getElementById('sub').style.display='block'">To Do List</button>
    <div id="sub" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <div id="ListHead" class="header">
                <h2>To do List</h2>
                <input type="text" id="myInput" placeholder="Title...">
                <span onclick="newElement()" class="addBtn">Add</span>
            </div>
            <span onclick="document.getElementById('sub').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <div class="w3-container">
                <ul id="myUL">
                    <li>test</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- To do -->
    <div class="container">
        <header>
            <nav>
                <ul class="gnb">
                    <li style="float: left;">
                        <a href="#page1" style="padding-top: 5px;"><img src="img/selab_logo_S.png"></a>
                    </li>
                    <li><a href="#page2">RESEARCH</a></li>
                    <li><a href="#page3">MEMBERS</a></li>
                    <li><a href="#page4">PUBLICATION</a></li>
                    <li><a href="#page5">NOTICE / CONTACT</a></li>
                    <li><a href="#page6">COURSE</a></li>
                    <% if(logined) { %>
                        <li style="float:right"><a href="/">Logout</a></li>
                        <li style="float:right"><a><%= user_id %> 님, 어서오세요</a></li>
                    <% } else { %>
                        <li style="float:right"><a href="#" id = "modal">Login</a></li>
                    <% } %>

                    <li style="float:right"><a href="#" id="modal">LOGIN</a></li>
                </ul>
                <ul class="gnb fixed">
                    <li style="float: left;">
                        <a href="#page1" style="padding-top: 5px;"><img src="img/selab_logo_S.png"></a>
                    </li>
                    <li><a href="#page2">RESEARCH</a></li>
                    <li><a href="#page3">MEMBERS</a></li>
                    <li><a href="#page4">PUBLICATION</a></li>
                    <li><a href="#page5">NOTICE / CONTACT</a></li>
                    <li><a href="#page6">COURSE</a></li>
                    <li style="float:right"><a href="#" id="modal">LOGIN</a></li>
                </ul>
            </nav>
        </header>

        <div id="myModal" class="modal">
            <div class="modal-container">
                <div class="close">&times;</div>
                <div class="sign_in">
                    <h2>LOGIN</h2><br>
                    <form action="/" method="POST">
                        <p>ID</p>
                        <input type="text" name="id" placeholder="Enter ID">
                        <p>Password</p>
                        <input type="password" name="pw" placeholder="Password">
                        <input type="submit" value="Sign In">
                        <a href="sign_up">Sign UP</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section id="page1">
        <div class="backgroundTransition">
            pagebanner
        </div>
    </section>
    <section id="page2">
        <h2>RESEARCH</h2>
        <p class="explain">For the researchs that members have researched before.</p><br>
        <div class="item">
            <div class="item_inner">
              <h3>Web & Web security</h3><br>
              <img id="r-img" src="img/re1.png" width="150px">
              <ul>
                <li>Semantic web</li>
                <li>Effective Access Control for Web Data</li>
                <li>Vulnerability Analysis and Detection for HTML5</li>
                <li>JavaScript and Hybrid Application</li>
              </ul>
            </div>
            <div class="item_inner">
              <h3>Formal Engineering Methods</h3>
              <img id="r-img" src="img/re2.png" width="150px">
              <ul>
                <li>Formal Specification, Validation, and Verification</li>
                <li>Model checking, Theorem Proving</li>
                <li>Ontology Reasoning, Constraint Solving</li>
              </ul>
            </div>
            <div class="item_inner">
              <h3>Requirement Engineering</h3>
              <img id="r-img" src="img/re3.png" width="150px">
              <ul>
                <li>Requirement Analysis, Validation and Conflict Detection</li>
                <li>Non-Functional Requirements Analysis and Prediction</li>
                <li>Product Line and Software Product Line</li>
                <li>Requirement Modeling with Extended Mind Map</li>
              </ul>
            </div>
            <div class="item_inner">
              <h3>Real-Time Software Engineering</h3>
              <img id="r-img" src="img/re4.png" width="150px">
              <ul>
                <li>Real-Time Software and Process Modeling</li>
                <li>Real-Time Software Specification and Verification</li>
                <li>Real-Time Software Integration and Migration Control</li>
              </ul>
            </div>
            <div class="item_inner">
              <h3>Semi-structured <br>Data</h3>
              <img id="r-img" src="img/re5.png" width="150px">
              <ul>
                <li>XML and XML DB, Visualization of XML-Schema</li>
                <li>Ontology and RDF Store</li>
                <li>Semistructured Data Integration and Migration</li>
                <li>Optimization of X-Query</li>
                <li>Consistency Verification for Semistructured Data Manipulation</li>
                <li>Domain Specific Extension to XML & Data Translation from RDBMS to XML DBMS</li>
              </ul>
            </div>
          </div>
    </section>
    <section id="page3" style="height: auto;">
        <h2>Members <br>
            <p class="explain" style="font-size: 20px;">"Members of this laboratory."</p>
        </h2>
        <br>
        <div class="mem" style="margin-left: 5%; margin-right: 5%; margin-bottom: 5%;">
            <div class="professor">
                    <div class="pro_img"><img src="img/scott.jpg" alt="Minjae" style="width: 250px; height: 300px;"></div>
                    <div class="content_wrap">
                        <div class="nametag">Professor</div>
                    <div class="pro_content">
                    <ul style="text-align: start;">
                        <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                        <li style="text-align: center;">Kim Min Jae</li>
                        <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                        <li style="text-align: center;">&nbsp;alswo9853@gmail.com</li>
                        <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                        <li style="text-align: center;">&nbsp;Hangyang University &nbsp;&nbsp;&nbsp;&nbsp;ERICA campus <br>&nbsp;&nbsp;&nbsp;&nbsp;division of computer &nbsp;&nbsp;&nbsp;&nbsp;science</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="width:auto;">
                <div class="column">
                    <div class="content">
                        <img src="img/minjae.jpeg" alt="Minjae" style="width: 200px; height: 200px;">
                        <ul style="text-align: start;">
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">Kim Min Jae</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;alswo9853@gmail.com</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Hangyang University &nbsp;&nbsp;&nbsp;&nbsp;ERICA campus <br>&nbsp;&nbsp;&nbsp;&nbsp;division of computer &nbsp;&nbsp;&nbsp;&nbsp;science</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <img src="img/dong.jpeg" alt="Dongyean" style="width: 200px; height: 200px;">
                        <ul>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Han Dong Yean</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;alswo9853@gmail.com</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Hangyang University &nbsp;&nbsp;&nbsp;&nbsp;ERICA campus <br>&nbsp;&nbsp;&nbsp;&nbsp;division of computer &nbsp;&nbsp;&nbsp;&nbsp;science</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <img src="img/jaehyun.jpeg" alt="jaehyun" style="width: 200px; height: 200px;">
                        <ul>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Park Jae hyun</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;alswo9853@gmail.com</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Hangyang University &nbsp;&nbsp;&nbsp;&nbsp;ERICA campus <br>&nbsp;&nbsp;&nbsp;&nbsp;division of computer &nbsp;&nbsp;&nbsp;&nbsp;science</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <img src="img/yohan.jpeg" alt="Yohan" style="width: 200px; height: 200px;">
                        <ul>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;An Yo Han</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;alswo9853@gmail.com</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Hangyang University &nbsp;&nbsp;&nbsp;&nbsp;ERICA campus <br>&nbsp;&nbsp;&nbsp;&nbsp;division of computer &nbsp;&nbsp;&nbsp;&nbsp;science</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <img src="img/seogwon.jpeg" alt="SeoGwan" style="width: 200px; height: 200px;">
                        <ul>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Kim Seo Gwon</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;tjrnjs123@gmail.com</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Hangyang University &nbsp;&nbsp;&nbsp;&nbsp;ERICA campus <br>&nbsp;&nbsp;&nbsp;&nbsp;division of computer &nbsp;&nbsp;&nbsp;&nbsp;science</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <img src="img/yerim.jpeg" alt="YeRim" style="width: 200px; height: 200px;">
                        <ul>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Seok Ye Rim</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;alswo9853@gmail.com</li>
                            <img src="img/monitor.png" style="float: left; size: 25px; padding-top: 3px;">
                            <li style="text-align: center;">&nbsp;Hangyang University &nbsp;&nbsp;&nbsp;&nbsp;ERICA campus <br>&nbsp;&nbsp;&nbsp;&nbsp;division of computer &nbsp;&nbsp;&nbsp;&nbsp;science</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="page4">
        <h2>PUBLICATION <br>
            <p class="explain" style="font-size: 20px;">"Pulication members have researched."</p>
        </h2>
        <br>
        <div class="tab" style="margin-left: 5%; margin-right: 5%;">
            <button class="tablinks" onclick="openCity(event, 'all')">All</button>
            <button class="tablinks" onclick="openCity(event, 'intCon')">International Conference</button>
            <button class="tablinks" onclick="openCity(event, 'intJour')">International Journal</button>
            <button class="tablinks" onclick="openCity(event, 'doCon')">Domestic Conference</button>
            <button class="tablinks" onclick="openCity(event, 'doJour')">Domestic Journal</button>
        </div>
        <div class="pub" style="height: 60%;  overflow-y: auto;  margin-left: 5%; margin-right: 5%; margin-bottom: 5%;">
            <div id="all" class="tabcontent">
                <h3 style="margin-left: 2%; margin-top: 2%;"><i>Intenational Conference</i></h3>
                <br>
                <ul style="padding-left: 3%; padding-right: 3%;">
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Zhiqiang1.pdf">1.Zhiqiang Wu, Xin Chen and Scott Uk-Jin Lee, "Identifying Latent Android Malware from Application's Description using LSTM," In Proc. International Conference on Information, System and Convergence Applications, 2019, pp.40-42.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Mohsin0.pdf">2.Mohsin Javaid Siddiqui, Xintao Li, Isma Farah Siddiqui, Asad Abbas and Scott Uk-Jin Lee, "Comparative Analysis of GUI Development for Android Application by utilizing MDA Approach," In Proc. International workshop on convergence information technology 2017, 2017, pp.151-154.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Zhiqiang0.pdf">3.Zhiqiang Wu, Asad Abbas and Scott Uk-Jin Lee, "Multiple Concurrency Anomalies Classification for Mobile Applications using Support Vector Machine," In Proc. International Conference on Computing Convergence and Applications (ICCCA), 2018, pp.103-106.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad4.pdf">4.Asad Abbas, Zhiqiang Wu, Mohsin Javid Siddiqui, Isma Farah Siddiqui and Scott Uk-Jin Lee, "Contextual Variability Management of Multi-Software Product Line," In Proc. International Conference on Computing Convergence and Applications 2017, 2017, pp.71-74.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_I.F.0.pdf">5.Isma Farah Siddiqui, Nawab Muhammad Faseeh Qureshi, Muhammad Akram Shaikh, Bhawani Shankar Chowdhry, Asad Abbas and Scott Uk-Jin Lee, "Knowledge-based stuck-at fault analysis for wireless IoT smart meters in smart grid," In Proc. 2nd Global Conference on Wireless and optical Communications, 2017</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad3.pdf">6.Asad Abbas, Hyung-Lak Kim, Isma Farah Siddiqui, Ali Kashif Bashir and Scott Uk-Jin Lee, "Contextual Variability Management of IoT Applications Using Agent-Base Modeling with Software Product Line," In Proc. International Conference on Computing Convergence and Applications 2017, 2017, pp.13-16.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad2.pdf">7.Asad Abbas, Isma Farah Siddiqui and Scott Uk-Jin Lee, "XML-based Feature Modeling of IoT Applications," In Proc. International Conference on Computing Convergence and Applications (ICCCA), 2016, pp.163-166.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad1.pdf">8.Asad Abbas, Zhiqiang Wu, Isma Farah Siddiqui and Scott Uk-Jin Lee, "Challenges of Multi-Objective Optimization in Feature Model of Software Product Line," In Proc. 3rd International Conference on Information, System and Convergence Applications 2016, 2016, pp.15-17.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Abdul1.pdf">9.Abdul Rahim Mohamed Ariffin and Scott Uk-Jin Lee, "Generic Modeling for Pthreads with Cilk," In Proc. 3rd International Conference on Information, System and Convergence Applications 2016, 2016, pp.30-32.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma3.pdf">10.Isma Farah Siddiqui, Asad Abbas and Scott Uk-Jin Lee, "HBAC: An access control over Semantics-enabled Smart Grids to enable energy-efficiency and lifetime optimization," In Proc. 2nd International Conference on Information and Convergence Technology for Smart Society 2016, 2016, pp.9-11.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad0.pdf">11.Asad Abbas, Zhiqiang Wu, Isma Farah Siddiqui and Scott Uk-Jin Lee, "Optimized feature selection with crosscutting concerns in software product line feature model," In Proc. 2nd International Conference on Information and Convergence Technology for Smart Society 2016, 2016, pp.1-3.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma2.pdf">12.Isma Farah Siddiqui and Scott Uk-Jin Lee, "Privacy-Aware Smart Learning: Providing XACML as a Service in Semantic Web based Smart Environment," In Proc. 7th International Conference on Internet Symp., 2015, pp.97-101.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Abdul0.pdf">13.Abdul Rahim Mohamed Ariffin, Isma Farah Siddiqui, Gayeon Kim and Scott Uk-Jin Lee, "A Survey on Correctness Properties for Multithreaded Applications," In Proc. 2nd International Conference on Information and Convergence Technology for Smart Society 2015, 2015, pp.1-3.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Gayeon0.pdf">14.Gayeon Kim, Abdul Rahim Mohomed Ariffin and Scott Uk-Jin Lee, "An Effective Approach for Parallel Processing with Multiple Microcontrollers," In Proc. 2nd International Conference on Information, System and Convergence Applications 2015, 2015, pp.142-145.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma1.pdf">15.Isma Farah Siddiqui and Scott Uk-Jin Lee, "A Novel Approach for Integrating Semantic Web Techniques into Smart Education Enviroment," In Proc. 1st International Conference on Information and Convergence Technology for Smart Society 2015, 2015, pp.127-131.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Jaeho0.pdf">16.Jaeho Choi and Scott Uk-Jin Lee, "Vulnerability of Web-Storage in HTML5 for Web and Mobile Application," In Proc. 3rd Advances in Computing and Information Technology 2014, 2014, pp.112-115.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma0.pdf">17.Isma Farah Siddiqui, Nawab Muhammad Faseeh, Scott Uk-Jin Lee and Mukhtiar Ali Unar, "An Advanced Hyper-Efficient Design to Detect Random Peer-to-Peer Botnets," In Proc. 3rd International Multi-Topic Conference 2013, 2013, pp.251-258.</a></li>
                </ul>
                <h3 style="margin-left: 2%; margin-top: 2%;"><i>International Journal</i></h3>
                <br>
                <ul style="padding-left: 3%; padding-right: 3%;">
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Isma4.pdf">1.Isma Farah Siddiqui, Nawab Muhammad Faseeh Qureshi, Muhammad Akram Shaikh, Bhawani Shankar Chowdhry, Asad Abbas, Ali Kashif Bashir and Scott Uk-Jin Lee, "Stuck-at Fault Analytics of IoT Devices Using Knowledge-based Data Processing Strategy in Smart Grid," J. Wireless Personal Communications, vol. 2018, pp. 1-15, Apr. 2018.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Asad5.pdf">2.Asad Abbas, Isma Farah Siddqui, Scott Uk-Jin Lee, Ali Kashif Bashir, Waleed Ejaz and Nawab Muhammad Faseeh Qureshi, "Multi-Objective Optimum Solutions for IoT-Based Feature Models of Software Product Line," J. IEEE Access, vol. 6, pp. 12228-12239, Mar. 2018.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Zhiqiang0.pdf">3.Zhiqiang Wu, Asad Abbas, Xin Chen and Scott Uk-Jin Lee, "Classification of concurrent anomalies for iot software based support vector machine," J. Journal of Theoretical and Applied Information Technology, vol. 95, no. 3, pp. 832-842, Feb. 2018.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Isma3.pdf">4.Isma Farah Siddiqui, Scott Uk-Jin Lee, Asad Abbas and Ali Kashif Bashir, "Optimizing Lifespan and Energy Consumption by Smart Meters in Green-Cloud-Based Smart Grids," J. IEEE Access, vol. 5, pp. 20934-220945,  . 2017.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Isma3.pdf">5.Isma Farah SIddiqui, Nawab Muhammad Faseeh Qureshi, Scott Uk-Jin Lee, Mukhtiar Ali Unar. "An advanced hyper-efficient design to detect random peer-to-peer botnets." Communications in Computer and Information Science, vol 414, pp. 251-258, 2014.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Asad4.pdf">6.Asad Abbas, Isma Farah Siddqui, Scott Uk-Jin Lee, and Ali Kashif Bashir. "Binary Pattern for Nested Cardinality Constraints for Software Product Line of IoT-based Feature Models." IEEE Access, vol. 5, pp. 3971-3980, Mar.2017.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_ASAD3.pdf">7.ASAD ABBAS, ISMA FARAH SIDDIQUI and SCOTT UK-JIN LEE, "CONTEXTUAL VARIABILITY MANAGEMENT OF IOT APPLICATION WITH XML-BASED FEATURE MODELLING," J. Journal of Theoretical and Applied Information Technology, vol. 95, no. 6, pp. 1300-1308, Mar. 2017.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Isma1.pdf">8.Isma Farah Siddiqui, Asad Abbas, Abdul Rahim Mohamed Ariffin and Scott Uk-Jin Lee, "A Comparative Study of Multithreading APIs for Software of ICT Equipment," J. Indian Journal of Science and Technology, vol. 9, no. 48, pp. 1-5, Dec. 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_ISMA0.pdf">9.ISMA FARAH SIDDIQUI, ASAD ABBAS and SCOTT UK-JIN LEE, "A HIDDEN MARKOV MODEL TO PREDICT HOT SOCKET ISSUE IN SMART GRID," J. Journal of Theoretical and Applied Information Technology, vol. 94, no. 2, pp. 408-415, Dec. 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_ASAD2.pdf">10.ASAD ABBAS, ISMA FARAH SIDDIQUI and SCOTT UK-JIN LEE, "GOAL-BASED MODELING FOR REQUIREMENT TRACEABILITY OF SOFTWARE PRODUCT LINE," J. Journal of Theoretical and Applied Information Technology, vol. 94, no. 2, pp. 327-334, Dec. 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Asad1.pdf">11.Asad Abbas, Isma Farah Siddiqui and Scott Uk-Jin Lee, "Multi-Objective Optimization of Feature Model in Software Product Line: Perspectives and Challenges," J. J. Indian Journal of Science and Technology, vol. 9, no. 45, pp. 1-7, Dec. 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Abdul0.pdf">12.Abdul Rahim Mohamed Ariffin, Isma Farah Siddiqui and Scott Uk-Jin Lee, "An Empirical Study over Correctness Properties for Multithreaded Programs," J. Indian Journal of Science and Technology, vol. 9, pp. 1-8, May 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Asad0.pdf">13.Asad Abbas, Zhiqiang Wu, Isma Farah Siddiqui and Scott Uk-Jin Lee, "An Approach for Optimized Feature Selecton in Software Product Lines using Union-Find and Genetic Algorithms," J. Indian Journal of Science and Technology, vol. 9, pp. 1-9, May 2016.</a></li>
                </ul>
                <h3 style="margin-left: 2%; margin-top: 2%;"><i>Domestic Conference</i></h3>
                <br>
                <ul style="padding-left: 3%; padding-right: 3%;">
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Zhiqiang2.pdf">1.Zhiqiang Wu, Xin Chen and Scott Uk-Jin Lee, "Permissions based Automatic Android Malware Repair using Long Short Term Memory," In Proc. 한국컴퓨터정보학회 동계학술대회, 2019, pp.387-388.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_YongTaek0.pdf">2.YongTaek Oh and Scott Uk-Jin Lee, "XACML 정책 작성시 요청에 따른 효과적인 정책 평가 요인 수집 방법," In Proc. Korea Software Congress 2017, 2017, pp.443-445.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Hakjin0.pdf">3.Hakjin Lee and Scott Uk-Jin Lee, "라즈베리파이 기반 기능성 게임 개발을 위한 모바일 플랫폼," In Proc. Korea Software Congress 2017, 2017, pp.586-588.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_HyungLak1.pdf">4.HyungLak Kim and Scott Uk-Jin Lee, "Automated Verification Method for Java-based Multithreaded Software," In Proc. 16th Korea Computer Congress, 2016, pp.416-418.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma4.pdf">5.Isma Farah Siddiqui, Asad Abbas and Scott Uk-Jin Lee, "Comparative Analysis of Centralized Vs. Distributed Locality-based Repository over IoT-Enabled Big Data in Smart Grid Environment," In Proc. 한국컴퓨터정보학회 동계학술대회, 2017, pp.75-78</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Asad2.pdf">6.Asad Abbas, Isma Fara Siddiqui and Scott Uk-Jin Lee, "Feature Modeling with Multi-Software Product Line of IoT Protocols," In Proc. 한국컴퓨터정보학회 동계학술대회, 2017, pp.79-82.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Hyunglak0.pdf">7.yunglak Kim and Scott Uk-Jin Lee, "Improvement of Crowdsourcing based Software Development Process," In Proc. 18th Korea Computer Congress, 2016, pp.654-656.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Gayeon0.pdf">8.Gayeon Kim and Scott Uk-Jin Lee, "The Necessity of Multithread Feature in Node.js," In Proc. 18th Korea Computer Congress, 2016, pp.672-674.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Zhiqiang1.pdf">9.Zhiqiang Wu and Scott Uk-Jin Lee, "The Application of Banker's Algorithm in Order Scheduling Management for Deadlock Avoidance," In Proc. 18th Korea Computer Congress, 2016, pp.660-662.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Zhiqiang0.pdf">10.Zhiqiang Wu, Seon-Woong Kim, Abdul Rahim Mohamed Ariffin and Scott Uk-Jin Lee, "An Efficient Attendance Management System Based on Browser/Server Technique," In Proc. 18th Korea Computer Congress, 2015, pp.505-507.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Asad1.pdf">11.Asad Abbas, Isma Farah Siddiqui, Gayeon Kim and Scott Uk-Jin Lee, "Aspect-Oriented Programing based Process Synchronization in Concurrent Systems," In Proc. 18th Korea Computer Congress, 2015, pp.502-504.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Abdul0.pdf">12.Abdul Rahim Mohomed Ariffin, Gayeon Kim and Scott Uk-Jin Lee, "Comparative Analysis on Tools for Verifying Multithreaded Applications," In Proc. 18th Korea Computer Congress, 2015, pp.470-472.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Seon-Woong0.pdf">13.Seon-Woong Kim, Byeong-Jin Park and Scott Uk-Jin Lee, "Recent Trends of Fintech and Comparative Analysis Samsung-Pay and Apple-Pay," In Proc. 17th Korea Computer Congress, 2015, pp.2054-2056</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Asad0.pdf">14.Asad Abbas, Isma Farah Siddiqui and Scott Uk-Jin Lee, "XML-based Feature Modeling for Variability Management in Complex Software Product Line," In Proc. 17th Korea Computer Congress, 2015, pp.582-584.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Da-Hae0.pdf">15.Da-Hae Sung and Scott Uk-Jin Lee, "Editor Feature to Effectively Mange Source Code Modification," In Proc. Korean Institute of Information Scientists and Engineers Conf. 2014, 2014, pp.1696-1698.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Geunhwan0.pdf">16.Geunhwan Park and Scott Uk-Jin Lee, "Management System and Mobile Application to Improve Efficiency and Reliability of Vehicle Service Center," In Proc. Korean Institute of Information Scientists and Engineers Conf. 2014, 2014, pp.1554-1556</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Isma0.pdf">17.Isma Farah Siddiqui and Scott Uk-Jin Lee, "A Framework for Verifyin Consistency of SQL-DB Ontology using Alloy," In Proc. 16th Korea Computer Congress, 2014, pp.497-499.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jiang1.pdf">18.Jiang Hua and Scott Uk-Jin Lee, "Extend the Mind Map propose a requirements specification and analysis tools," In Proc. 16th Korea Conference on Software Engineering, 2014, pp.353-356.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jaeho1.pdf">19.Jaeho Choi and Scott Uk-Jin Lee, "XACML policy view to create policies for efficient access control," In Proc. 16th Korea Conference on Software Engineering, 2014, pp.457-460.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jiang0.pdf">20.Jiang Hua and Scott Uk-Jin Lee, "Extended Mind Map for Software Requirement Specification," In Proc. 15th Korea Computer Congress, 2013, pp.517-519.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jaejin1.pdf">21.Jaejin Kim and Scott Uk-Jin Lee, "Conflict Detection for XACML Policies," In Proc. 15th Korea Computer Congress, 2013, pp.550-552.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jaejin0.pdf">22.Jaejin Kim, Scott Uk-Jin Lee and Amna Al Dhaheri, "Integrated Access Control Model Propose In Cloud Computing Environment," In Proc. 15th Korea Conference on Software Engineering, 2013, pp.266-269</a></li>
                </ul>
                <h3 style="margin-left: 2%; margin-top: 2%;"><i>Domestic Journal</i></h3>
                <br>
                <ul style="padding-left: 3%; padding-right: 3%;">
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Journal/[DJ]_Youn-geun0.pdf">Youn-geun Ahn, Gichan Lee and Scott Uk-Jin Lee, "Effective Methodology for Collecting Contextual Factors and Information that Affects The XACML Policy Evaluation," J. KIISE Transactions on Computing Practices, vol. 24, no. 2, pp. 82-87, Feb. 2018.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Journal/[DJ]_Isma0.pdf">Isma Farah Siddiqui and Scott Uk-Jin Lee, "Access Control as a Service for Information Protection in Semantic Web based Smart Environment," J. Journal of Korean Society for Internet Information, vol. 17, no. 5, pp. 9-16, Oct. 2016.</a></li>
                </ul>
            </div>

            <div id="intCon" class="tabcontent" style="overflow-y:scroll;">
                <h3 style="margin-left: 2%; margin-top: 2%; overflow-y: scroll;"><i>International Conference</i></h3>
                <br>
                <ul style="padding-left: 3%; padding-right: 3%;">
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Zhiqiang1.pdf">1.Zhiqiang Wu, Xin Chen and Scott Uk-Jin Lee, "Identifying Latent Android Malware from Application's Description using LSTM," In Proc. International Conference on Information, System and Convergence Applications, 2019, pp.40-42.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Mohsin0.pdf">2.Mohsin Javaid Siddiqui, Xintao Li, Isma Farah Siddiqui, Asad Abbas and Scott Uk-Jin Lee, "Comparative Analysis of GUI Development for Android Application by utilizing MDA Approach," In Proc. International workshop on convergence information technology 2017, 2017, pp.151-154.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Zhiqiang0.pdf">3.Zhiqiang Wu, Asad Abbas and Scott Uk-Jin Lee, "Multiple Concurrency Anomalies Classification for Mobile Applications using Support Vector Machine," In Proc. International Conference on Computing Convergence and Applications (ICCCA), 2018, pp.103-106.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad4.pdf">4.Asad Abbas, Zhiqiang Wu, Mohsin Javid Siddiqui, Isma Farah Siddiqui and Scott Uk-Jin Lee, "Contextual Variability Management of Multi-Software Product Line," In Proc. International Conference on Computing Convergence and Applications 2017, 2017, pp.71-74.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_I.F.0.pdf">5.Isma Farah Siddiqui, Nawab Muhammad Faseeh Qureshi, Muhammad Akram Shaikh, Bhawani Shankar Chowdhry, Asad Abbas and Scott Uk-Jin Lee, "Knowledge-based stuck-at fault analysis for wireless IoT smart meters in smart grid," In Proc. 2nd Global Conference on Wireless and optical Communications, 2017</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad3.pdf">6.Asad Abbas, Hyung-Lak Kim, Isma Farah Siddiqui, Ali Kashif Bashir and Scott Uk-Jin Lee, "Contextual Variability Management of IoT Applications Using Agent-Base Modeling with Software Product Line," In Proc. International Conference on Computing Convergence and Applications 2017, 2017, pp.13-16.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad2.pdf">7.Asad Abbas, Isma Farah Siddiqui and Scott Uk-Jin Lee, "XML-based Feature Modeling of IoT Applications," In Proc. International Conference on Computing Convergence and Applications (ICCCA), 2016, pp.163-166.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad1.pdf">8.Asad Abbas, Zhiqiang Wu, Isma Farah Siddiqui and Scott Uk-Jin Lee, "Challenges of Multi-Objective Optimization in Feature Model of Software Product Line," In Proc. 3rd International Conference on Information, System and Convergence Applications 2016, 2016, pp.15-17.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Abdul1.pdf">9.Abdul Rahim Mohamed Ariffin and Scott Uk-Jin Lee, "Generic Modeling for Pthreads with Cilk," In Proc. 3rd International Conference on Information, System and Convergence Applications 2016, 2016, pp.30-32.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma3.pdf">10.Isma Farah Siddiqui, Asad Abbas and Scott Uk-Jin Lee, "HBAC: An access control over Semantics-enabled Smart Grids to enable energy-efficiency and lifetime optimization," In Proc. 2nd International Conference on Information and Convergence Technology for Smart Society 2016, 2016, pp.9-11.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Asad0.pdf">11.Asad Abbas, Zhiqiang Wu, Isma Farah Siddiqui and Scott Uk-Jin Lee, "Optimized feature selection with crosscutting concerns in software product line feature model," In Proc. 2nd International Conference on Information and Convergence Technology for Smart Society 2016, 2016, pp.1-3.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma2.pdf">12.Isma Farah Siddiqui and Scott Uk-Jin Lee, "Privacy-Aware Smart Learning: Providing XACML as a Service in Semantic Web based Smart Environment," In Proc. 7th International Conference on Internet Symp., 2015, pp.97-101.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Abdul0.pdf">13.Abdul Rahim Mohamed Ariffin, Isma Farah Siddiqui, Gayeon Kim and Scott Uk-Jin Lee, "A Survey on Correctness Properties for Multithreaded Applications," In Proc. 2nd International Conference on Information and Convergence Technology for Smart Society 2015, 2015, pp.1-3.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Gayeon0.pdf">14.Gayeon Kim, Abdul Rahim Mohomed Ariffin and Scott Uk-Jin Lee, "An Effective Approach for Parallel Processing with Multiple Microcontrollers," In Proc. 2nd International Conference on Information, System and Convergence Applications 2015, 2015, pp.142-145.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma1.pdf">15.Isma Farah Siddiqui and Scott Uk-Jin Lee, "A Novel Approach for Integrating Semantic Web Techniques into Smart Education Enviroment," In Proc. 1st International Conference on Information and Convergence Technology for Smart Society 2015, 2015, pp.127-131.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Jaeho0.pdf">16.Jaeho Choi and Scott Uk-Jin Lee, "Vulnerability of Web-Storage in HTML5 for Web and Mobile Application," In Proc. 3rd Advances in Computing and Information Technology 2014, 2014, pp.112-115.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma0.pdf">17.Isma Farah Siddiqui, Nawab Muhammad Faseeh, Scott Uk-Jin Lee and Mukhtiar Ali Unar, "An Advanced Hyper-Efficient Design to Detect Random Peer-to-Peer Botnets," In Proc. 3rd International Multi-Topic Conference 2013, 2013, pp.251-258.</a></li>
                </ul>
            </div>

            <div id="intJour" class="tabcontent">
                <h3 style="margin-left: 2%; margin-top: 2%;"><i>International Journal</i></h3>
                <br>
                <ul style="padding-left: 3%; padding-right: 3%;">
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Isma4.pdf">1.Isma Farah Siddiqui, Nawab Muhammad Faseeh Qureshi, Muhammad Akram Shaikh, Bhawani Shankar Chowdhry, Asad Abbas, Ali Kashif Bashir and Scott Uk-Jin Lee, "Stuck-at Fault Analytics of IoT Devices Using Knowledge-based Data Processing Strategy in Smart Grid," J. Wireless Personal Communications, vol. 2018, pp. 1-15, Apr. 2018.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Asad5.pdf">2.Asad Abbas, Isma Farah Siddqui, Scott Uk-Jin Lee, Ali Kashif Bashir, Waleed Ejaz and Nawab Muhammad Faseeh Qureshi, "Multi-Objective Optimum Solutions for IoT-Based Feature Models of Software Product Line," J. IEEE Access, vol. 6, pp. 12228-12239, Mar. 2018.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Zhiqiang0.pdf">3.Zhiqiang Wu, Asad Abbas, Xin Chen and Scott Uk-Jin Lee, "Classification of concurrent anomalies for iot software based support vector machine," J. Journal of Theoretical and Applied Information Technology, vol. 95, no. 3, pp. 832-842, Feb. 2018.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Isma3.pdf">4.Isma Farah Siddiqui, Scott Uk-Jin Lee, Asad Abbas and Ali Kashif Bashir, "Optimizing Lifespan and Energy Consumption by Smart Meters in Green-Cloud-Based Smart Grids," J. IEEE Access, vol. 5, pp. 20934-220945,  . 2017.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Isma3.pdf">5.Isma Farah SIddiqui, Nawab Muhammad Faseeh Qureshi, Scott Uk-Jin Lee, Mukhtiar Ali Unar. "An advanced hyper-efficient design to detect random peer-to-peer botnets." Communications in Computer and Information Science, vol 414, pp. 251-258, 2014.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Asad4.pdf">6.Asad Abbas, Isma Farah Siddqui, Scott Uk-Jin Lee, and Ali Kashif Bashir. "Binary Pattern for Nested Cardinality Constraints for Software Product Line of IoT-based Feature Models." IEEE Access, vol. 5, pp. 3971-3980, Mar.2017.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_ASAD3.pdf">7.ASAD ABBAS, ISMA FARAH SIDDIQUI and SCOTT UK-JIN LEE, "CONTEXTUAL VARIABILITY MANAGEMENT OF IOT APPLICATION WITH XML-BASED FEATURE MODELLING," J. Journal of Theoretical and Applied Information Technology, vol. 95, no. 6, pp. 1300-1308, Mar. 2017.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Isma1.pdf">8.Isma Farah Siddiqui, Asad Abbas, Abdul Rahim Mohamed Ariffin and Scott Uk-Jin Lee, "A Comparative Study of Multithreading APIs for Software of ICT Equipment," J. Indian Journal of Science and Technology, vol. 9, no. 48, pp. 1-5, Dec. 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_ISMA0.pdf">9.ISMA FARAH SIDDIQUI, ASAD ABBAS and SCOTT UK-JIN LEE, "A HIDDEN MARKOV MODEL TO PREDICT HOT SOCKET ISSUE IN SMART GRID," J. Journal of Theoretical and Applied Information Technology, vol. 94, no. 2, pp. 408-415, Dec. 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_ASAD2.pdf">10.ASAD ABBAS, ISMA FARAH SIDDIQUI and SCOTT UK-JIN LEE, "GOAL-BASED MODELING FOR REQUIREMENT TRACEABILITY OF SOFTWARE PRODUCT LINE," J. Journal of Theoretical and Applied Information Technology, vol. 94, no. 2, pp. 327-334, Dec. 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Asad1.pdf">11.Asad Abbas, Isma Farah Siddiqui and Scott Uk-Jin Lee, "Multi-Objective Optimization of Feature Model in Software Product Line: Perspectives and Challenges," J. J. Indian Journal of Science and Technology, vol. 9, no. 45, pp. 1-7, Dec. 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Abdul0.pdf">12.Abdul Rahim Mohamed Ariffin, Isma Farah Siddiqui and Scott Uk-Jin Lee, "An Empirical Study over Correctness Properties for Multithreaded Programs," J. Indian Journal of Science and Technology, vol. 9, pp. 1-8, May 2016.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Journal/[IJ]_Asad0.pdf">13.Asad Abbas, Zhiqiang Wu, Isma Farah Siddiqui and Scott Uk-Jin Lee, "An Approach for Optimized Feature Selecton in Software Product Lines using Union-Find and Genetic Algorithms," J. Indian Journal of Science and Technology, vol. 9, pp. 1-9, May 2016.</a></li>
                </ul>
            </div>
            <div id="doCon" class="tabcontent">
                <h3 style="margin-left: 2%; margin-top: 2%;"><i>Domestic Conference</i></h3>
                <br>
                <ul style="padding-left: 3%; padding-right: 3%;">
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Zhiqiang2.pdf">1.Zhiqiang Wu, Xin Chen and Scott Uk-Jin Lee, "Permissions based Automatic Android Malware Repair using Long Short Term Memory," In Proc. 한국컴퓨터정보학회 동계학술대회, 2019, pp.387-388.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_YongTaek0.pdf">2.YongTaek Oh and Scott Uk-Jin Lee, "XACML 정책 작성시 요청에 따른 효과적인 정책 평가 요인 수집 방법," In Proc. Korea Software Congress 2017, 2017, pp.443-445.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Hakjin0.pdf">3.Hakjin Lee and Scott Uk-Jin Lee, "라즈베리파이 기반 기능성 게임 개발을 위한 모바일 플랫폼," In Proc. Korea Software Congress 2017, 2017, pp.586-588.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_HyungLak1.pdf">4.HyungLak Kim and Scott Uk-Jin Lee, "Automated Verification Method for Java-based Multithreaded Software," In Proc. 16th Korea Computer Congress, 2016, pp.416-418.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/International_Conference/[IP]_Isma4.pdf">5.Isma Farah Siddiqui, Asad Abbas and Scott Uk-Jin Lee, "Comparative Analysis of Centralized Vs. Distributed Locality-based Repository over IoT-Enabled Big Data in Smart Grid Environment," In Proc. 한국컴퓨터정보학회 동계학술대회, 2017, pp.75-78</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Asad2.pdf">6.Asad Abbas, Isma Fara Siddiqui and Scott Uk-Jin Lee, "Feature Modeling with Multi-Software Product Line of IoT Protocols," In Proc. 한국컴퓨터정보학회 동계학술대회, 2017, pp.79-82.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Hyunglak0.pdf">7.yunglak Kim and Scott Uk-Jin Lee, "Improvement of Crowdsourcing based Software Development Process," In Proc. 18th Korea Computer Congress, 2016, pp.654-656.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Gayeon0.pdf">8.Gayeon Kim and Scott Uk-Jin Lee, "The Necessity of Multithread Feature in Node.js," In Proc. 18th Korea Computer Congress, 2016, pp.672-674.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Zhiqiang1.pdf">9.Zhiqiang Wu and Scott Uk-Jin Lee, "The Application of Banker's Algorithm in Order Scheduling Management for Deadlock Avoidance," In Proc. 18th Korea Computer Congress, 2016, pp.660-662.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Zhiqiang0.pdf">10.Zhiqiang Wu, Seon-Woong Kim, Abdul Rahim Mohamed Ariffin and Scott Uk-Jin Lee, "An Efficient Attendance Management System Based on Browser/Server Technique," In Proc. 18th Korea Computer Congress, 2015, pp.505-507.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Asad1.pdf">11.Asad Abbas, Isma Farah Siddiqui, Gayeon Kim and Scott Uk-Jin Lee, "Aspect-Oriented Programing based Process Synchronization in Concurrent Systems," In Proc. 18th Korea Computer Congress, 2015, pp.502-504.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Abdul0.pdf">12.Abdul Rahim Mohomed Ariffin, Gayeon Kim and Scott Uk-Jin Lee, "Comparative Analysis on Tools for Verifying Multithreaded Applications," In Proc. 18th Korea Computer Congress, 2015, pp.470-472.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Seon-Woong0.pdf">13.Seon-Woong Kim, Byeong-Jin Park and Scott Uk-Jin Lee, "Recent Trends of Fintech and Comparative Analysis Samsung-Pay and Apple-Pay," In Proc. 17th Korea Computer Congress, 2015, pp.2054-2056</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Asad0.pdf">14.Asad Abbas, Isma Farah Siddiqui and Scott Uk-Jin Lee, "XML-based Feature Modeling for Variability Management in Complex Software Product Line," In Proc. 17th Korea Computer Congress, 2015, pp.582-584.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Da-Hae0.pdf">15.Da-Hae Sung and Scott Uk-Jin Lee, "Editor Feature to Effectively Mange Source Code Modification," In Proc. Korean Institute of Information Scientists and Engineers Conf. 2014, 2014, pp.1696-1698.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Geunhwan0.pdf">16.Geunhwan Park and Scott Uk-Jin Lee, "Management System and Mobile Application to Improve Efficiency and Reliability of Vehicle Service Center," In Proc. Korean Institute of Information Scientists and Engineers Conf. 2014, 2014, pp.1554-1556</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Isma0.pdf">17.Isma Farah Siddiqui and Scott Uk-Jin Lee, "A Framework for Verifyin Consistency of SQL-DB Ontology using Alloy," In Proc. 16th Korea Computer Congress, 2014, pp.497-499.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jiang1.pdf">18.Jiang Hua and Scott Uk-Jin Lee, "Extend the Mind Map propose a requirements specification and analysis tools," In Proc. 16th Korea Conference on Software Engineering, 2014, pp.353-356.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jaeho1.pdf">19.Jaeho Choi and Scott Uk-Jin Lee, "XACML policy view to create policies for efficient access control," In Proc. 16th Korea Conference on Software Engineering, 2014, pp.457-460.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jiang0.pdf">20.Jiang Hua and Scott Uk-Jin Lee, "Extended Mind Map for Software Requirement Specification," In Proc. 15th Korea Computer Congress, 2013, pp.517-519.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jaejin1.pdf">21.Jaejin Kim and Scott Uk-Jin Lee, "Conflict Detection for XACML Policies," In Proc. 15th Korea Computer Congress, 2013, pp.550-552.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Conference/[DP]_Jaejin0.pdf">22.Jaejin Kim, Scott Uk-Jin Lee and Amna Al Dhaheri, "Integrated Access Control Model Propose In Cloud Computing Environment," In Proc. 15th Korea Conference on Software Engineering, 2013, pp.266-269</a></li>
                </ul>
            </div>
            <div id="doJour" class="tabcontent">
                <h3 style="margin-left: 2%; margin-top: 2%;"><i>Domestic Journal</i></h3>
                <br>
                <ul style="padding-left: 3%; padding-right: 3%;">
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Journal/[DJ]_Youn-geun0.pdf">Youn-geun Ahn, Gichan Lee and Scott Uk-Jin Lee, "Effective Methodology for Collecting Contextual Factors and Information that Affects The XACML Policy Evaluation," J. KIISE Transactions on Computing Practices, vol. 24, no. 2, pp. 82-87, Feb. 2018.</a></li>
                    <li><a href="https://selab.hanyang.ac.kr/publications/papers/Domestic_Journal/[DJ]_Isma0.pdf">Isma Farah Siddiqui and Scott Uk-Jin Lee, "Access Control as a Service for Information Protection in Semantic Web based Smart Environment," J. Journal of Korean Society for Internet Information, vol. 17, no. 5, pp. 9-16, Oct. 2016.</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="page5">
        <div class="test">
        <div class="notice">
        <h2>NOTICE<br/>
            <p class="explain" style="font-size: 20px;">Notice of this laboratory</p>
        </h2>
            <table class="notice_table">
                <th class="th_title">TITLE</th>
                <th class="th_date">DATE</th>
                <div class="table_row">
                    <tr>
                        <div class="inner_cell">
                            <td><button onclick="shownotice('not1')">연구원모집</button></td>
                            <td class="date">2014.08.29</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="inner_cell">
                            <td><button onclick="shownotice('not2')">2014 PL-SE First Joint Workshop</button></td>
                            <td class="date">2014.04.29</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="inner_cell">
                            <td><button onclick="shownotice('not3')">Welcome to SELab Homepage!</button></td>
                            <td class="date">2014.03.06</td>
                        </div>
                    </tr>
                </div>
            </table>
        </div>
        <div class="contact">
        <h2>CONTACT</h2><br>
        <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.912775633319!2d126.83375910121714!3d37.29720101992256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc955f3433f16dc79!2z7ZWc7JaR64yA7ZWZ6rWQIOygnDPqs7XtlZnqtIA!5e0!3m2!1sko!2skr!4v1576782560995!5m2!1sko!2skr" width="500" height="300" frameborder="0" style="border:1 solid gray;" allowfullscreen=""></iframe></div>
        </div>
    </div>
    </section>
    <div class="noticecontent">
        <div id="not1" class="w3-modal">
            <div class="w3-modal-content w3-card-4">
                <div class="noticetitle">
                    <h2>연구원모집</h2>
                </div>
                <span onclick="document.getElementById('not1').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <p>SELab에서는 소프트웨어공학 전 분야, 멀티쓰레드 소프트웨어 및 웹 기술을 함께 연구할 석사, 박사, 석박통합 및 박사후 과정의 연구원을 모집하고 있습니다.<br/>
                   현재 SELab에서는 미래창조과학부 주체 NIPA주관의 대규모 프로젝트에 활발히 참여하고 있으며 이를 통하여 연구원들의 연구가 원활히 진행될 수 있도록 프로젝트 인건비를 지원하고 있습니다. 이 밖에도 연구조교, 교육조교 장학금 외 다양한 장학금을 지원하고 있으며
                    입학시 쾌적한 연구공간과 연구 장비 (PC/iMac 등) 지원도 하고 있습니다.<br/>SELab 연구 분야에 관심이 있으신 분은 아래로 연락주세요!<br/>한양대학교 ERICA 제 3공학관 403호, 421호 scottlee@hanyang.ac.kr 031-400-5238 / 031-400-4754</p>
            </div>
        </div>
        <div id="not2" class="w3-modal">
            <div class="w3-modal-content w3-card-4">
            <div class="noticetitle">
                <h2>2014 PL-SE First Joint Workshop</h2>
            </div>
            <span onclick="document.getElementById('not2').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <p>PLASSE & SE Lab. in the CSE Dept. @ HYU are organizing the 1st Joint Workshop in the Spring of 2014.<br/>
                2:00pm - 6:00pm, 10th of May, 2014 @ Engineering Building No.3 Room 315<br/>
                Attachment : <a href="https://selab.hanyang.ac.kr/notice/download.php?filename=12014_04_29_20_20_53^PL-SE_1st%20schedule.pdf">PL-SE_1st schedule.pdf</a></p>
            </div>
        </div>
        <div id="not3" class="w3-modal">
            <div class="w3-modal-content w3-card-4">
                <div class="noticetitle">
                    <h2>Welcome to SELab Homepage!</h2>
                </div>
                <span onclick="document.getElementById('not3').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <p>Welcome to Software Engineering Laboratory Homepage.<br/>
                    Software Engineering Laboratory is<br/>
                    - within Dept. of Computer Science and Engineering at Hanyang University, South Korea<br/>
                    - established in Sept. 2011<br/>
                    The current version (ver2.0) of SELab Web Site is launched in Feb. 2014.</p>
            </div>
        </div>
    </div>
    <section id="page6">
        <h2>Main Animation Text6</h2>
        <p class="explain">Sub Animation Text6</p>
        <p class="last">Sub Animation Text6</p>
        <div id="course_table">
            <table id="first_table">
                <tr>
                    <th class="coursenum" colspan="2">Undergraduate Courses</th>
                </tr>
                <tr>
                    <td class="coursenum" data-href="cse107">CSE107</td>
                    <td class="course" data-href="cse107">Logical Fundamentals of Programming</td>
                </tr>
                <tr>
                    <td class="coursenum">CSE117</td>
                    <td class="course">Programming Fundamentals</td>
                </tr>
                <tr>
                    <td class="coursenum">CSE322</td>
                    <td class="course">Web Programming</td>
                </tr>
                <tr>
                    <td class="coursenum active" data-href="cse326"style="background-color: darkgray;">CSE326</td>
                    <td class="course active" data-href="cse326"style="background-color: darkgray;"><a href="/selab">Web Application Development</a></td>
                </tr>
                <tr>
                    <td class="coursenum" data-href="cse406">CSE406</td>
                    <td class="course" data-href="cse406">Software Engineering</td>
                </tr>
            </table>
            <div id="over">
                <table id="second_table">
                    <tr>
                        <th>2019-2</th>
                        <th>2019-1</th>
                        <th>2018-1</th>
                        <th>2017-2</th>
                        <th>2017-1</th>
                        <th>2016-2</th>
                        <th>2016-1</th>
                        <th>2015-2</th>
                        <th>2015-1</th>
                        <th>2014-2</th>
                        <th>2014-1</th>
                        <th>2013-2</th>
                        <th>2013-1</th>
                        <th>2012-2</th>
                        <th>2012-1</th>
                        <th>2011-2</th>
                    </tr>
                    <!--Logical-->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                    </tr>
                    <!--Programming Fundamentals-->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                    </tr>
                    <!--Web-->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- Web App -->
                    <tr>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--SE-->
                    <tr>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="course_table">
            <table id="first_table">
                <tr>
                    <th class="coursenum" colspan="2">Postgraduate Courses</th>
                </tr>
                <tr>
                    <td class="coursenum" data-href="cin870">CIN870</td>
                    <td class="course" data-href="cin870">Formal Methods</td>
                </tr>
                <tr>
                    <td class="coursenum" data-href="cse603">CSE603</td>
                    <td class="course" data-href="cse603">Management of Semistructured Data</td>
                </tr>
                <tr>
                    <td class="coursenum" data-href="cse609">CSE609</td>
                    <td class="course" data-href="cse609">Model Checking</td>
                </tr>
                <tr>
                    <td class="coursenum" data-href="cse639">CSE639</td>
                    <td class="course" data-href="cse639">Special Topics in Software Engineering</td>
                </tr>
                <tr>
                    <td class="coursenum active" data-href="cse6050">CSE6050</td>
                    <td class="course active" data-href="cse6050">Advanced Software Engineering</td>
                </tr>
            </table>
            <div id="over">
                <table id="second_table">
                    <tr>
                        <th>2019-2</th>
                        <th>2019-1</th>
                        <th>2018-1</th>
                        <th>2017-2</th>
                        <th>2017-1</th>
                        <th>2016-2</th>
                        <th>2016-1</th>
                        <th>2015-2</th>
                        <th>2015-1</th>
                        <th>2014-2</th>
                        <th>2014-1</th>
                        <th>2013-2</th>
                        <th>2013-1</th>
                        <th>2012-2</th>
                        <th>2012-1</th>
                        <th>2011-2</th>
                    </tr>
                    <!--Formal Methods-->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                    </tr>
                    <!--Management of SemiData-->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                    </tr>
                    <!-- Model Checking -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- Special Topic SE -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- Advanced SE -->
                    <tr>
                        <td><div class="circle"></div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <section id="page7">
        <h2>Contact</h2>
        <p class="explain">Sub Animation Text6</p>
        <p class="last">Sub Animation Text6</p>
        
    </section>
    </div>
</body>

</html>