.mem{
    margin: auto;
  }
  .mem .row {
    margin: 8px -16px;
    display: flex;
    justify-content: space-around;
  }
  .mem .row,
  .mem .row > .column {
    padding: 8px;
  }
  .mem .column {
    float: left;
    width: 25%;
  }
  .mem .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .mem .content {
    background-color: white;
    padding: 10px;
    width: 200px;
    margin-top: 10px;;
  }
.professor{
  display: flex;
  background-color: white;
  padding: 10px;
}
.pro_img{
  display: flex;
  width: 250px;
  height: 300px;
  margin-right: 15px;
}
.content_wrap{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.nametag{
  background-color: lightgray;
  text-align: center;
  font-weight: bolder;
  font-size: 25pt;
  margin-bottom: 20px;
}
/* .pro_content{
  flex: 1;
} */