.notice .notice_table {
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 16pt;
    line-height: 250%;
    height: auto;
    text-align: center;
    font: bold;
    color: rgb(0, 0, 0, 0.5);
    border-bottom: solid 2.3px rgb(0, 0, 0, 0.5);
}

.th_title {
    width: 700px;
}

.th_date {
    width: 120px;
}

tr {
    border-bottom: solid 1px rgb(0, 0, 0, 0.5);
}

td {
    font-size: 18px;
    line-height: 170%;
    color: rgb(0, 0, 0, 0.5);
    padding-left: 10px;
}

.date {
    text-align: center;
    padding-left: 0;
}

td a:link {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
}

td a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
}

td a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0, 0.5);
}